{% extends "main_page_module/base.html" %}


{% block extraheader %}
{% endblock %}

{% block nav_new_location %}active{% endblock nav_new_location %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <br>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            <br>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}


{% block content%}
<br>
<div class="container-fluid" style="background-color: rgb(255, 255, 255)">
<br>  

  <div class="row">
    <div class="col-md">
      <!-- insert column here -->
      <h5>Options</h5>
      <button class="btn btn-outline-warning btn-block" onclick="getLocation()">Pridobi koordinate </button>

      <script>
        var x = document.getElementById("coord");
        
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }
        
        function showPosition(position) {
          x.value = position.coords.latitude + "," + position.coords.longitude;
        }
        </script>

    </div>
    <div class="col-md-6">

      {% macro render_field(field, placeholder=None) %}
      <div class="form-group">
          {% set css_class = 'form-control ' + kwargs.pop('class', '') %}

          {{ field.label }}

          {% if field.errors %}
              {% set css_class = css_class + ' is-invalid' %}

              {% for error in field.errors %}
                  
                  <small id="{{ field.label.text }}" class="text-danger">
                      {{ error }}
                </small>

              {% endfor %}
              </ul>
          {% endif %}

          {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
      </div>
      {% endmacro %}


      <div>
        <div>
          <legend>New Location</legend>

          <form method="POST" action="{{ url_for('main_page_module.new_location') }}" accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}
            <input type="hidden" id="id" name="id" value="999">
            
            {{ render_field(form.name, placeholder="Enter the name of the location",
                                        autofocus="") }}
            {{ render_field(form.icon, placeholder="Select if the location Icon") }}
            {{ render_field(form.desc_s, placeholder="We need a short description") }}
            {{ render_field(form.desc_l, placeholder="Write the long description", rows='3') }}
            {{ render_field(form.rating, placeholder="Select a Rate") }}
            {{ render_field(form.tts, placeholder="We need a username for your account") }}
            {{ render_field(form.coord, placeholder="Insert coordinates") }}
            
            {{ render_field(form.mtld, placeholder="Select a Difficulty") }}
            {{ render_field(form.contact, placeholder="Give us a contact") }}
            {{ render_field(form.timetable, placeholder="When can we visit it?", rows='3') }}
            {{ render_field(form.fee, placeholder="Select if the location has fees.") }}
            {{ render_field(form.child, placeholder="Select if the location is suitable for children") }}
            {{ render_field(form.season, placeholder="Select if the location is season/weather dependant") }}

            <div class="form-group">
            {{ form.submit(class="form-control btn btn-primary mb-2") }}
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="col-md">
      
        
    </div>
  </div>
  
</div>      
{% endblock %}