{% extends "main_page_module/base.html" %}

{% block extraheader %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


<style>
  #map {
      height: 100%;
      width: 100%;
  }
</style>
{% endblock extraheader  %}

{% block nav_index %}active{% endblock nav_index %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <br>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            <br>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock flashes %}


{% block content%}
<div id="map" class="map"></div>

<script>




  var map = L.map('map').setView([46.1240465,14.7385152], 8.5);


  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
  }).addTo(map);


  var locations = [
  {% for i in locations%}
    { lat: {{ i[4].split(",")[0] }}, lng: {{  i[4].split(",")[1]  }}, text: "{{ i[1] }}", desc: "{{ i[2] }}", link: "{{ url_for("main_page_module.view_location", location_id=i[0]) }} ", icon: "{{ i[3] }}" },
  {% endfor %}
  ];

  locations.forEach(function(location) {
    var customIcon = L.icon({
        iconUrl: "/static/icons/" + location.icon,  // Use the location-specific icon
        iconSize: [45, 45],  // Adjust size as needed
        iconAnchor: [22, 45], 
        popupAnchor: [0, -45] 
    });

    var marker = L.marker([location.lat, location.lng], { icon: customIcon }).addTo(map);
    marker.bindPopup(`<b>${location.text}</b><br><a href='${location.link}' target='_blank'>${location.desc}</a>`);
});

  


</script>
{% endblock content %}